
/* Estilice los elementos HTML de acuerdo con las siguientes instrucciones. 
NO ALTERE EL HTML EXISTENTE PARA HACER ESTO. ESCRIBA SOLAMENTE CSS!

/* Asignarle al elemento <body> un color de fondo de #bdc3c7*/
body {
    background-color: #bdc3c7;
}

/* Hacer que el elemento <h1> sea de color #9b59b6*/
h1 {
    color:red;
}

/* Hacer que todos los elementos <h2> sean color naranja */
h2 {
    color: orange;
}

/* Hacer que todos los elemento <li> sean color azul */ 
li {
    color: blue;
}

/* Cambiar el color de fondo de cada parrafo a amarillo */
p {
    background: yellow;
}

/* Hacer que todos los elementos <input> tengan un color rojo de 3px */
label {
    color: red;
    font-size: 3px;
}

/* Asignarle un color de fondo blanco a todos los elementos con la clase 'hello' */
.hello {
    background-color: white;
}

/* Asignarle un borde sólido de 2px color azul al elemento con el id 'special' */
#special {
    border: solid 2px blue;
}

/* Hacer que todos los <p>'s que están dentro de div's tengan una fuente de 25px */
div p {
    font-size: 25px;
}

/* Hacer que solamente las entradas con el tipo 'text' tengan un color gris de fondo */
input[type=text] {
    background-color: gray;
}

/* Asignarle un color de fondo rosa a los <p>'s dentro del tercer <div> */
div p:nth-of-type(3){
    background-color: pink;
}

/* Asignarle un borde blanco de 5px al segundo <p> dentro del tercer <div> */
div:nth-of-type(3) p:nth-of-type(2){
    border: solid 2px white;
}

/* Hacer que el elemento <em> en el tercer <div> sea color blanco y con fuente de 20px */
div:nth-of-type(3) em{
    color: white;
    font-size: 20px;
}

/* Hacer que todos los <label>'s sean MAYUSCULAS sin modificar el HTML */
label {
    text-transform: uppercase;
}

/* Hacer que todos los checkboxes "marcados" tengan un margen de 50px (margin-left: 50px) */
input[type=checkbox]:checked{
    margin-left: 50px;
}

/* Hacer que la primer letra del elemento con id 'special' sea color verde y de tamaño de fuente 100px (font-size: 100)*/
#special::first-letter {
    color:green;
    font-size: 100px;
}

/* Hacer que el color de los elementos <h1> cambie a azul cuando el ratón pase por encima (hover) */
h1:hover {
    color: blue;
}

/* Asignar color gris a todos los <a>'s que han sido visitados  */
a:visited {
    color: gray;
}
